#ventana{
	background-color:darkseagreen;
}

#HbMensajesDatos,#VbAreaNegocio{
	/*background-color: seagreen;*/
	background-color: rgb(50,150,50);
}
#HbDatos{
	background-color: rgb(25,100,25);
}

#lbMensajes{
	font-size: 23px;
	font-family: "Dejavu-Sans";
	font-weight: bold;
}

#lb1,#lb2,#lb3,#lb4,#lb5{
	font-size: 23px;
	font-family: "Dejavu-Sans";
	font-weight: bold;
	color: orange;
}
/*
#lbPunto1,#lbPunto2{
	font-size: 23px;
	font-family: "Dejavu-Sans";
	font-weight: bold;
	color:orangered;
}
#tbX1,#tbY1,#tbX2,#tbY2,#tbAngulo{
	background-color: darkcyan;
}
*/
#VbRutas{
	background-color:SkyBlue;
}

#btAceptar{
    background-image: none;
    background-color: green;
    color:yellow;
}
#btDirectorios{
	background-image: none;
	background-color: DarkSlateBlue;
	color:SlateBlue;
	font-weight: bold;
	font-size: 23px;
        border-radius: 5px;
}
#btDirectorios:hover,#btDestino:hover,#btAceptar:hover{
	background-color:red;
	color:DarkOrange;
}
#bt1,#bt2,#bt3,#bt4,#bt5{
	background-image:none;
	background-color:yellow;
	color:navy;
	font-weight:bold;
	font-size:17px;
}
#HbDestino{
	background-color: rgb(35,100,35);
}

#btDestino{
    background-image:none;
    background-color: midnightblue;
    color: dodgerblue;
    /*font-family: DejaVu Sans;*/
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    border-radius: 5px;
}
#lbDestino{
	font-size:29px;
	color:lime;
}
